#list, #form, #table {
	height: 650px;
}

#list, #table {
	background: #e4fdfa;
}

#form {
	background: #ffffff;
}

img {
	width: 45px;
	height: auto;
}

@media screen and (min-width: 992px) {
	#list, #form {
		background: #e4fdfa;
	}

	#table {
		background: #ffffff;
	}
}

.list-rectangle {
  list-style: none;
  text-decoration: none;
}

.list-rectangle>li {
  position: relative;
  display: block;
  background: #ffffff;
}

.list-rectangle>li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background: #98cfc9;
}